In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!unzip drive/My\ Drive/bluebook-for-bulldozers

Archive:  drive/My Drive/bluebook-for-bulldozers.zip
  inflating: TrainAndValid.csv
  inflating: Train.zip
  inflating: Train.7z
  inflating: Valid.7z
  inflating: Test.csv
  inflating: Machine_Appendix.csv
  inflating: median_benchmark.csv
  inflating: ValidSolution.csv
  inflating: TrainAndValid.7z
  inflating: random_forest_benchmark_test.csv
  inflating: Valid.zip
  inflating: Data Dictionary.xlsx
  inflating: TrainAndValid.zip
  inflating: Valid.csv

In [3]:
!unzip Train.zip

Archive:  Train.zip
  inflating: Train.csv

### 1. Dependencies

In [0]:
# !pip install fastai==0.7.0

In [0]:
from fastai.imports import *
from fastai.structured import *

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

## 2. Data Pipeline

### 2.1 Loading the data from the directory

In [0]:
train_df = pd.read_csv('TrainAndValid.csv', low_memory=False,  parse_dates=["saledate"])
test_df = pd.read_csv('Test.csv', low_memory=False,  parse_dates=["saledate"])
# val_df = pd.read_csv('Valid.csv', low_memory=False,  parse_dates=["saledate"])

In [47]:
print(train_df.shape)
print(test_df.shape)
#print(val_df.shape)

(412698, 53)
(12457, 52)

### 2.2 Viewing the insights of the dat

In [14]:
train_df.head()

   SalesID  SalePrice  ...  Differential_Type  Steering_Controls
0  1139246    66000.0  ...           Standard       Conventional
1  1139248    57000.0  ...           Standard       Conventional
2  1139249    10000.0  ...                NaN                NaN
3  1139251    38500.0  ...                NaN                NaN
4  1139253    11000.0  ...                NaN                NaN

[5 rows x 53 columns]

In [49]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 53 columns):
SalesID                     412698 non-null int64
SalePrice                   412698 non-null float64
MachineID                   412698 non-null int64
ModelID                     412698 non-null int64
datasource                  412698 non-null int64
auctioneerID                392562 non-null float64
YearMade                    412698 non-null int64
MachineHoursCurrentMeter    147504 non-null float64
UsageBand                   73670 non-null object
saledate                    412698 non-null datetime64[ns]
fiModelDesc                 412698 non-null object
fiBaseModel                 412698 non-null object
fiSecondaryDesc             271971 non-null object
fiModelSeries               58667 non-null object
fiModelDescriptor           74816 non-null object
ProductSize                 196093 non-null object
fiProductClassDesc          412698 non-null object
state                       412698 non-null object
ProductGroup                412698 non-null object
ProductGroupDesc            412698 non-null object
Drive_System                107087 non-null object
Enclosure                   412364 non-null object
Forks                       197715 non-null object
Pad_Type                    81096 non-null object
Ride_Control                152728 non-null object
Stick                       81096 non-null object
Transmission                188007 non-null object
Turbocharged                81096 non-null object
Blade_Extension             25983 non-null object
Blade_Width                 25983 non-null object
Enclosure_Type              25983 non-null object
Engine_Horsepower           25983 non-null object
Hydraulics                  330133 non-null object
Pushblock                   25983 non-null object
Ripper                      106945 non-null object
Scarifier                   25994 non-null object
Tip_Control                 25983 non-null object
Tire_Size                   97638 non-null object
Coupler                     220679 non-null object
Coupler_System              44974 non-null object
Grouser_Tracks              44875 non-null object
Hydraulics_Flow             44875 non-null object
Track_Type                  102193 non-null object
Undercarriage_Pad_Width     102916 non-null object
Stick_Length                102261 non-null object
Thumb                       102332 non-null object
Pattern_Changer             102261 non-null object
Grouser_Type                102193 non-null object
Backhoe_Mounting            80712 non-null object
Blade_Type                  81875 non-null object
Travel_Controls             81877 non-null object
Differential_Type           71564 non-null object
Steering_Controls           71522 non-null object
dtypes: datetime64[ns](1), float64(3), int64(5), object(44)
memory usage: 166.9+ MB

In [16]:
train_df.describe(include='all').T

                           count unique  ...          75%          max
SalesID                   412698    NaN  ...  2.26101e+06  6.33335e+06
SalePrice                 412698    NaN  ...        40000       142000
MachineID                 412698    NaN  ...  1.47808e+06  2.48633e+06
ModelID                   412698    NaN  ...         8899        37198
datasource                412698    NaN  ...          136          173
auctioneerID              392562    NaN  ...            4           99
YearMade                  412698    NaN  ...         2001         2014
MachineHoursCurrentMeter  147504    NaN  ...         3209   2.4833e+06
UsageBand                  73670      3  ...          NaN          NaN
saledate                  412698   4013  ...          NaN          NaN
fiModelDesc               412698   5059  ...          NaN          NaN
fiBaseModel               412698   1961  ...          NaN          NaN
fiSecondaryDesc           271971    177  ...          NaN          NaN
fiModelSeries              58667    123  ...          NaN          NaN
fiModelDescriptor          74816    140  ...          NaN          NaN
ProductSize               196093      6  ...          NaN          NaN
fiProductClassDesc        412698     74  ...          NaN          NaN
state                     412698     53  ...          NaN          NaN
ProductGroup              412698      6  ...          NaN          NaN
ProductGroupDesc          412698      6  ...          NaN          NaN
Drive_System              107087      4  ...          NaN          NaN
Enclosure                 412364      6  ...          NaN          NaN
Forks                     197715      2  ...          NaN          NaN
Pad_Type                   81096      4  ...          NaN          NaN
Ride_Control              152728      3  ...          NaN          NaN
Stick                      81096      2  ...          NaN          NaN
Transmission              188007      8  ...          NaN          NaN
Turbocharged               81096      2  ...          NaN          NaN
Blade_Extension            25983      2  ...          NaN          NaN
Blade_Width                25983      6  ...          NaN          NaN
Enclosure_Type             25983      3  ...          NaN          NaN
Engine_Horsepower          25983      2  ...          NaN          NaN
Hydraulics                330133     12  ...          NaN          NaN
Pushblock                  25983      2  ...          NaN          NaN
Ripper                    106945      4  ...          NaN          NaN
Scarifier                  25994      2  ...          NaN          NaN
Tip_Control                25983      3  ...          NaN          NaN
Tire_Size                  97638     17  ...          NaN          NaN
Coupler                   220679      3  ...          NaN          NaN
Coupler_System             44974      2  ...          NaN          NaN
Grouser_Tracks             44875      2  ...          NaN          NaN
Hydraulics_Flow            44875      3  ...          NaN          NaN
Track_Type                102193      2  ...          NaN          NaN
Undercarriage_Pad_Width   102916     19  ...          NaN          NaN
Stick_Length              102261     29  ...          NaN          NaN
Thumb                     102332      3  ...          NaN          NaN
Pattern_Changer           102261      3  ...          NaN          NaN
Grouser_Type              102193      3  ...          NaN          NaN
Backhoe_Mounting           80712      2  ...          NaN          NaN
Blade_Type                 81875     10  ...          NaN          NaN
Travel_Controls            81877      7  ...          NaN          NaN
Differential_Type          71564      4  ...          NaN          NaN
Steering_Controls          71522      5  ...          NaN          NaN

[53 rows x 13 columns]

In [17]:
train_df.SalePrice.head()

0    66000.0
1    57000.0
2    10000.0
3    38500.0
4    11000.0
Name: SalePrice, dtype: float64

In [0]:
# To calculate RMSLE (root mean squared log error) between actual and predicted price.
# The evaluation metric for this competition is the RMSLE (root mean squared log error)
# between the actual and predicted auction prices.
train_df.SalePrice = np.log(train_df.SalePrice)

In [0]:
price = train_df.SalePrice

In [0]:
# drop the SalePrice from the train_df and process the train_df and test_df toegther
train_df = train_df.drop('SalePrice', axis=1)

In [65]:
print(train_df.shape, test_df.shape)

(412698, 52) (12457, 52)

In [72]:
if list(train_df.columns) == list(test_df.columns):
  print('both DataFrame are same')
else:
  print('DataFrames are different')

both DataFrame are same

In [0]:
df = train_df.append(test_df)

In [74]:
df.shape

(425155, 52)

In [70]:
type(list(df.columns))

list

In [0]:
# dividing the date into multiple subfeatures so that we can extract more information from it
add_datepart(df, 'saledate')

In [76]:
df.shape

(425155, 64)

### 2.3 Converting the categorical data into numerical values

In [0]:
# seperate the numerical values from categorical values
all_features = df.columns
numerical = df.select_dtypes(include=['number']).copy()
categorical = df.select_dtypes(include=['category']).copy()

In [90]:
print(numerical.shape)
print(categorical.shape)

(425155, 14)
(425155, 44)

In [0]:
# convert the string values into pandas categorical values
train_cats(df)

In [81]:
print(df.state.cat.categories)

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'Washington DC', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

In [83]:
# see the null values
display_all(df.isnull().sum())

SalesID                          0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    275522
UsageBand                   349651
fiModelDesc                      0
fiBaseModel                      0
fiSecondaryDesc             144702
fiModelSeries               364482
fiModelDescriptor           347315
ProductSize                 223014
fiProductClassDesc               0
state                            0
ProductGroup                     0
ProductGroupDesc                 0
Drive_System                315309
Enclosure                      336
Forks                       221132
Pad_Type                    341951
Ride_Control                268186
Stick                       341951
Transmission                232330
Turbocharged                341951
Blade_Extension             398521
Blade_Width                 398521
Enclosure_Type              398521
Engine_Horsepower           398521
Hydraulics                   84707
Pushblock                   398521
Ripper                      315506
Scarifier                   398510
Tip_Control                 398521
Tire_Size                   324739
Coupler                     196875
Coupler_System              378115
Grouser_Tracks              378214
Hydraulics_Flow             378214
Track_Type                  319568
Undercarriage_Pad_Width     318841
Stick_Length                319500
Thumb                       319428
Pattern_Changer             319500
Grouser_Type                319568
Backhoe_Mounting            342392
Blade_Type                  341222
Travel_Controls             341220
Differential_Type           351462
Steering_Controls           351504
saleYear                         0
saleMonth                        0
saleWeek                         0
saleDay                          0
saleDayofweek                    0
saleDayofyear                    0
saleIs_month_end                 0
saleIs_month_start               0
saleIs_quarter_end               0
saleIs_quarter_start             0
saleIs_year_end                  0
saleIs_year_start                0
saleElapsed                      0
dtype: int64

In [0]:
df.UsageBand.cat.set_categories(['High', 'Medium', 'Low'], ordered=True, inplace=True)

In [0]:
df.UsageBand = df.UsageBand.cat.codes

In [97]:
print(train_df.shape, test_df.shape)

(412698, 52) (12457, 52)

In [0]:
train, test = df[:train_df.shape[0]], df[train_df.shape[0]:]

In [109]:
print(train.shape, test.shape)

(412698, 64) (12457, 64)

In [110]:
train['SalePrice'] = price

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
#Replace categories with numerical codes
x, y, nas = proc_df(train, 'SalePrice')

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

## 3. Model

In [0]:
rf = RandomForestRegressor(n_jobs=-1)

In [115]:
rf.fit(x, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [116]:
rf.score(x,y)

0.9826547826587448

## make prediction

In [128]:
x_test, y_test, nas = proc_df(test)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [0]:
x_test['auctioneerID_na'] = False

In [0]:
pred = rf.predict(x_test)

In [0]:
result = pd.DataFrame({'SalesID': x_test.SalesID, 'SalePrice': pred})

In [0]:
result.to_csv('result.csv', index=False)